./test_formula.xlsx
data/*
temporary_old/*
ecoregions_data/*
results/*
RR_distributions/*
R-files/*
scripts/plotting/maps_shapefiles/*
scripts/plotting/for_SETAC/*
results/*
aggregation_plotting/*
additional_analyses/*

